{
    "presets": [["env", { "modules": false }]],
    "plugins": [
        "syntax-dynamic-import",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ]
}
